.App {
  text-align: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .error-img {
  width: 300px;
  margin: 100px 20px;
} */

.error-text {
  font-size: 30px;
  font-family: sans-serif;
  color: #888eee;
}

.error-img {
  height: 300px;
  margin: 100px 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .error-img {
    animation: error-img-spin infinite 20s linear;
  }
}

@keyframes error-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-h {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.paginator-h {
  display: flex;
  justify-content: right;
  margin-top: 1em;
}

.center-v {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .loader-img {
    animation: loader-img-spin infinite 1s linear;
  }
}

@keyframes loader-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
